<div class="container">
    <div class="col-xs-8">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label *ngIf="data">Email {{data.user.address}} </label>
                <input type="text" class="form-control" formControlName="email">
                <p></p>
            </div>
            <div class="form-group" [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
                <p *ngIf="form.get('password').invalid && form.get('password').touched">password not null</p>
            </div>
            <div class="form-group">
                <label>Выберите Страницу</label>
                <select class="form-control" formControlName="country">
                    <option value="ru">Россия</option>
                    <option value="by">Белоруссия</option>
                    <option value="ua">Украина</option>
                </select>
            </div>
            <div class="radio" *ngFor="let ans of answers">
                <label>
                    <input type="radio" name="answer" formControlName="answer" [value]="ans.type"> {{ans.text}}
                </label>
            </div>
            <button class="btn btn-success" type="submit" [disabled]="form.invalid" >Save</button>
        </form>
    </div>
    <hr>
    <p *ngIf="send">{{send}}</p>
</div>
<hr>
<app-test></app-test>
<br>
<br>
<br>
<hr>
<app-two *ngIf="data" [data]="data"></app-two>