<input type="text" class="form-control" [(ngModel)]="carName">
<button class="btn btn-primary" (click)="addCar()">Add car</button>
<p *ngIf="!addCarStatus; else succesStatus">Машина не доабвлена</p>
<ng-template #succesStatus>
    <p >Машина добавлена</p>
</ng-template>
<hr>

<!--<app-car *ngFor="let car of cars"></app-car>-->


<ul>
    <li *ngFor="let car of cars; let idx = index">
        <div [ngStyle]="{color: (idx + 1) % 2 === 0 ? 'red' : 'black'}"><b>{{idx + 1}}</b>-{{car}}</div>
    </li>
</ul>